
@model PhotoGalery
<form asp-action="Index" asp-controller="PhotoGalery" enctype="multipart/form-data">
    <label asp-for="Image">Resim</label>
    <input asp-for="Image" class="form-control"/>
    <br />
    <label asp-for="IsActive">Aktif Olsun mu?</label>
    <input asp-for="IsActive" class="check-form" checked/>
    <br />
    <button class="btn btn-dark">Kaydet</button>
</form>
<br />
<br />
@await Component.InvokeAsync("PhotoGalery")