@model IEnumerable<Services>	
<!--portfolio start -->
<section id="portfolio" class="portfolio">
	<div class="portfolio-details">
		<div class="section-heading text-center">
			<h2>Hizmetlerimiz</h2>
		</div>
		<div class="container">
			<div class="portfolio-content">
				<div class="isotope">
					<div class="row">

						@foreach (var item in Model)
						{

							<div class="col-sm-4" style="width:390px;height:220px;object-fit:cover;">
								<div class="item">
									<img src="~/Services/@item.ImageName" alt="portfolio image" />
									<div class="isotope-overlay">
										<a asp-action="Get" asp-controller="Services" asp-route-Id="@item.Id">
											@item.Title
										</a>
									</div><!-- /.isotope-overlay -->
								</div><!-- /.item -->
							</div>

							<!-- /.col -->
						}
						

					</div><!-- /.row -->
				</div><!--/.isotope-->
			</div><!--/.gallery-content-->
		</div><!--/.container-->
	</div><!--/.portfolio-details-->

</section><!--/.portfolio-->
<!--portfolio end -->