.slider {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 20%; /* Bir görünümde üç resim göstermek için genişlik %33.33 olmalı */
    box-sizing: border-box;
    margin: 10px;
    object-fit: contain;
}

    .slide img {
        width: 300px;
        border-radius: 10px;
        height: 200px;
       
    }

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/***************/

